In [2]:
import pandas as pd

In [12]:
df2 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [8]:
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [27]:
df2.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [22]:
type(df2)

pandas.core.frame.DataFrame

In [9]:
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
df2.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
df2.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [12]:
df2.tail(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [13]:
type(df2)

pandas.core.frame.DataFrame

In [15]:
df2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [19]:
list(df2.columns)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [16]:
df2['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [17]:
type(df2['Survived'])

pandas.core.series.Series

In [18]:
df2[['Name','Embarked']]

                                                  Name Embarked
0                              Braund, Mr. Owen Harris        S
1    Cumings, Mrs. John Bradley (Florence Briggs Th...        C
2                               Heikkinen, Miss. Laina        S
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)        S
4                             Allen, Mr. William Henry        S
..                                                 ...      ...
886                              Montvila, Rev. Juozas        S
887                       Graham, Miss. Margaret Edith        S
888           Johnston, Miss. Catherine Helen "Carrie"        S
889                              Behr, Mr. Karl Howell        C
890                                Dooley, Mr. Patrick        Q

[891 rows x 2 columns]

In [23]:
type(df2[['Name','Embarked']])

pandas.core.frame.DataFrame

In [4]:
type(df2.dtypes)

pandas.core.series.Series

In [22]:
df2.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [17]:
df2.dtypes == 'object'

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [19]:
df2.dtypes[df2.dtypes =='object']

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [20]:
type(df2.dtypes[df2.dtypes =='object'])

pandas.core.series.Series

In [18]:
df2.dtypes[df2.dtypes =='object'].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [5]:
type(df2.dtypes[df2.dtypes =='object'].index)

pandas.core.indexes.base.Index

In [30]:
df2.dtypes[df2.dtypes =='object']

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [21]:
type(df2.dtypes[df2.dtypes =='object'].index)

pandas.core.indexes.base.Index

In [28]:
df2[df2.dtypes[df2.dtypes =='object'].index]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [6]:
df2[df2.dtypes[df2.dtypes =='object'].index].describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [15]:
df2[df2.dtypes[df2.dtypes =='int64'].index].describe()

       PassengerId    Survived      Pclass       SibSp       Parch
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642    0.523008    0.381594
std     257.353842    0.486592    0.836071    1.102743    0.806057
min       1.000000    0.000000    1.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000    0.000000    0.000000
50%     446.000000    0.000000    3.000000    0.000000    0.000000
75%     668.500000    1.000000    3.000000    1.000000    0.000000
max     891.000000    1.000000    3.000000    8.000000    6.000000

In [16]:
df2[df2.dtypes[df2.dtypes =='float64'].index].describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [17]:
df2[df2.dtypes[df2.dtypes =='float'].index].describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [18]:
type(df2[df2.dtypes[df2.dtypes =='float64'].index].describe())

pandas.core.frame.DataFrame

In [20]:
df2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [23]:
df2[['Survived','Name']]

     Survived                                               Name
0           0                            Braund, Mr. Owen Harris
1           1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2           1                             Heikkinen, Miss. Laina
3           1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4           0                           Allen, Mr. William Henry
..        ...                                                ...
886         0                              Montvila, Rev. Juozas
887         1                       Graham, Miss. Margaret Edith
888         0           Johnston, Miss. Catherine Helen "Carrie"
889         1                              Behr, Mr. Karl Howell
890         0                                Dooley, Mr. Patrick

[891 rows x 2 columns]

In [25]:
df2[['Survived','Name','Fare']][4:11]

    Survived                                               Name     Fare
4          0                           Allen, Mr. William Henry   8.0500
5          0                                   Moran, Mr. James   8.4583
6          0                            McCarthy, Mr. Timothy J  51.8625
7          0                     Palsson, Master. Gosta Leonard  21.0750
8          1  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  11.1333
9          1                Nasser, Mrs. Nicholas (Adele Achem)  30.0708
10         1                    Sandstrom, Miss. Marguerite Rut  16.7000

In [26]:
df2[4:11]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S

In [27]:
df2[::-1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S

In [34]:
df2[10:3:-1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [36]:
df2["new_col"] = 0

In [37]:
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [38]:
df2["new_col"]= df2["PassengerId"]+df2["Pclass"]

In [39]:
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,4
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,889
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,889
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,892
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,891
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,894

In [47]:
df2["new_col"]= df2[["PassengerId"]]+df2[["Pclass"]]

#Hence the dataframe not calculate or we are

ValueError: Columns must be same length as key

In [48]:
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,4,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6,6
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,889,1774
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,889,1776
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,892,1778
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,891,1780
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,894,1782

In [49]:
df2["new_col1"]= df2[["PassengerId"]]+df2[["PassengerId"]]

In [50]:
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,4,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6,6
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,889,1774
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,889,1776
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,892,1778
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,891,1780
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,894,1782

In [51]:
df2["new_col"]= df2[["Survived"]]+df2[["Pclass"]]

ValueError: Columns must be same length as key

In [52]:
df2["Pclass"]

     Pclass
0         3
1         1
2         3
3         1
4         3
..      ...
886       2
887       1
888       3
889       1
890       3

[891 rows x 1 columns]

In [53]:
df2["Pclass"]

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

In [54]:
pd.Categorical(df2["Pclass"])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [55]:
pd.Categorical(df2["Cabin"])

[NaN, 'C85', NaN, 'C123', NaN, ..., NaN, 'B42', NaN, 'C148', NaN]
Length: 891
Categories (147, object): ['A10', 'A14', 'A16', 'A19', ..., 'F38', 'F4', 'G6', 'T']

In [61]:
pd.Categorical(df2["Sex"])

['male', 'female', 'female', 'female', 'male', ..., 'male', 'female', 'female', 'male', 'male']
Length: 891
Categories (2, object): ['female', 'male']

In [62]:
pd.Categorical(df2["Age"])

[22.0, 38.0, 26.0, 35.0, 35.0, ..., 27.0, 19.0, NaN, 26.0, 32.0]
Length: 891
Categories (88, float64): [0.42, 0.67, 0.75, 0.83, ..., 70.5, 71.0, 74.0, 80.0]

In [63]:
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,4,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6,6
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,889,1774
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,889,1776
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,892,1778
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,891,1780
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,894,1782

In [68]:
pd.CategoricalDtype(df2)

CategoricalDtype(categories=[                                  (1, 0, 3, 'Braund, Mr. Owen Harris', 'male', 22.0, 1, 0, 'A/5 21171', 7.25, nan, 'S', 4, 2),
                  (2, 1, 1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', 38.0, 1, 0, 'PC 17599', 71.2833, 'C85', 'C', 3, 4),
                                           (3, 1, 3, 'Heikkinen, Miss. Laina', 'female', 26.0, 0, 0, 'STON/O2. 3101282', 7.925, nan, 'S', 6, 6),
                             (4, 1, 1, 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', 35.0, 1, 0, '113803', 53.1, 'C123', 'S', 5, 8),
                                                     (5, 0, 3, 'Allen, Mr. William Henry', 'male', 35.0, 0, 0, '373450', 8.05, nan, 'S', 8, 10),
                                                            (6, 0, 3, 'Moran, Mr. James', 'male', nan, 0, 0, '330877', 8.4583, nan, 'Q', 9, 12),
                                                  (7, 0, 1, 'McCarthy, Mr. Timothy J', 'male', 54.0, 0, 0, '17463', 51.8625, 'E46', 'S', 8, 14),
                                             (8, 0, 3, 'Palsson, Master. Gosta Leonard', 'male', 2.0, 3, 1, '349909', 21.075, nan, 'S', 11, 16),
                      (9, 1, 3, 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', 27.0, 0, 2, '347742', 11.1333, nan, 'S', 12, 18),
                                   (10, 1, 2, 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', 14.0, 1, 0, '237736', 30.0708, nan, 'C', 12, 20),
                  ...
                                                   (882, 0, 3, 'Markun, Mr. Johann', 'male', 33.0, 0, 0, '349257', 7.8958, nan, 'S', 885, 1764),
                                        (883, 0, 3, 'Dahlberg, Miss. Gerda Ulrika', 'female', 22.0, 0, 0, '7552', 10.5167, nan, 'S', 886, 1766),
                                (884, 0, 2, 'Banfield, Mr. Frederick James', 'male', 28.0, 0, 0, 'C.A./SOTON 34068', 10.5, nan, 'S', 886, 1768),
                                        (885, 0, 3, 'Sutehall, Mr. Henry Jr', 'male', 25.0, 0, 0, 'SOTON/OQ 392076', 7.05, nan, 'S', 888, 1770),
                               (886, 0, 3, 'Rice, Mrs. William (Margaret Norton)', 'female', 39.0, 0, 5, '382652', 29.125, nan, 'Q', 889, 1772),
                                                  (887, 0, 2, 'Montvila, Rev. Juozas', 'male', 27.0, 0, 0, '211536', 13.0, nan, 'S', 889, 1774),
                                       (888, 1, 1, 'Graham, Miss. Margaret Edith', 'female', 19.0, 0, 0, '112053', 30.0, 'B42', 'S', 889, 1776),
                         (889, 0, 3, 'Johnston, Miss. Catherine Helen "Carrie"', 'female', nan, 1, 2, 'W./C. 6607', 23.45, nan, 'S', 892, 1778),
                                               (890, 1, 1, 'Behr, Mr. Karl Howell', 'male', 26.0, 0, 0, '111369', 30.0, 'C148', 'C', 891, 1780),
                                                    (891, 0, 3, 'Dooley, Mr. Patrick', 'male', 32.0, 0, 0, '370376', 7.75, nan, 'Q', 894, 1782)],
, ordered=False)

In [69]:
df2["Cabin"].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [74]:
df2["Age"].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [73]:
[pd.Categorical(df2["Age"])]

[[22.0, 38.0, 26.0, 35.0, 35.0, ..., 27.0, 19.0, NaN, 26.0, 32.0]
 Length: 891
 Categories (88, float64): [0.42, 0.67, 0.75, 0.83, ..., 70.5, 71.0, 74.0, 80.0]]

In [75]:
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,4,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6,6
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,8,10

In [80]:
df2[(df2["Age"])>=26]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6,6
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,8,10
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,8,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,886,1768
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,889,1772
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,889,1774
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,891,1780
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,894,1782

In [82]:
df2[(df2["Age"])>=26].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6,6
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,8,10
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,8,14

In [83]:
df2.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,new_col,new_col1
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,448.308642,892.000000
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,257.325816,514.707684
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,3.000000,2.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,226.000000,447.000000
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,448.000000,892.000000
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,671.000000,1337.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,894.000000,1782.000000

In [108]:
df2[df2["Pclass"]==1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,8,14
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,13,24
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,25,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,873,1744
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,874,1746
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,881,1760
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,889,1776
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,891,1780

In [114]:
for i in ((df2["Pclass"]).unique()):
    print(f"Pclass {i} has total {len(df2[df2['Pclass']==i])} 	Passenger ")

Pclass 3 has total 491 	Passenger
Pclass 1 has total 216 	Passenger
Pclass 2 has total 184 	Passenger

In [117]:
ttl=0
for i in ((df2["Pclass"]).unique()):
    print(f"Pclass {i} has total {len(df2[df2['Pclass']==i])} Passenger ")
    ttl=ttl+len(df2[df2['Pclass']==i])
    
print(f"Total Passenger is {ttl}")

Pclass 3 has total 491 Passenger
Pclass 1 has total 216 Passenger
Pclass 2 has total 184 Passenger
Total Passenger is 891

In [119]:
df2["Sex"]=="female"

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888     True
889    False
890    False
Name: Sex, Length: 891, dtype: bool

In [126]:
df2[df2["Fare"]>32]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,8,14
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,25,48
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,29,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,858,1714
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,867,1728
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,869,1736
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,873,1744
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,881,1760

In [120]:
df2[df2["Sex"]=="female" ]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6,6
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,12,18
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,12,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,883,1762
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,886,1766
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,889,1772
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,889,1776
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,892,1778

In [133]:
df2[(df2["Sex"]=="female") & (df2[df2["Fare"]>=32])]

TypeError: unsupported operand type(s) for &: 'bool' and 'float'

In [135]:
df2[(df2["Sex"] =="female") & (df2["Fare"]>=32)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,33,64
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,46,88
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,54,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S,855,1708
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,858,1714
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,867,1728
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,873,1744
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,881,1760

In [109]:
for i in ((df2["Pclass"]).unique()):
    print(f"Pclass {i} has {df2[df2['Pclass']==i]['Survived'].sum()} survivors ")

Pclass 3 has 119 survivors
Pclass 1 has 136 survivors
Pclass 2 has 87 survivors

In [137]:
df2[df2["Fare"]==0]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S,183,360
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0,B94,S,265,528
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S,275,544
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0,NaN,S,280,556
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S,306,606
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0,NaN,S,416,828
466,467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0,NaN,S,469,934
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0,NaN,S,484,964
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,NaN,S,601,1196
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0,NaN,S,635,1268
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0,NaN,S,677,1350
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0,NaN,S,735,1466
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0,A36,S,808,1614
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0,B102,S,817,1632
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0,NaN,S,824,1646

In [143]:
df2[(df2["Fare"]!=0)  & (df2["Fare"]<32)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,4,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6,6
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,8,10
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,9,12
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,11,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,889,1774
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,889,1776
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,892,1778
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,891,1780
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,894,1782

In [144]:
 df2[(df2["Sex"] =="female")  & (df2["Fare"]!=0)  & (df2["Fare"]<32)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6,6
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,12,18
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,12,20
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,14,22
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,13,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,883,1762
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,886,1766
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,889,1772
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,889,1776
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,892,1778

In [148]:
max(df2["Fare"])

512.3292

In [150]:
df2[df2["Fare"]==max(df2["Fare"])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,260,518
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,681,1360
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,739,1476

In [152]:
min(df2["Fare"])

0.0

In [151]:
df2[df2["Fare"]==min(df2["Fare"])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S,183,360
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0,B94,S,265,528
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S,275,544
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0,NaN,S,280,556
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S,306,606
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0,NaN,S,416,828
466,467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0,NaN,S,469,934
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0,NaN,S,484,964
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,NaN,S,601,1196
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0,NaN,S,635,1268
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0,NaN,S,677,1350
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0,NaN,S,735,1466
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0,A36,S,808,1614
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0,B102,S,817,1632
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0,NaN,S,824,1646

In [154]:
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,4,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6,6
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,8,10

In [156]:
df2[0:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,4,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4

In [173]:
df2[0:2][["PassengerId","Survived","Pclass"]]

   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1

In [165]:
df2[["PassengerId","Survived","Pclass"]][0:2]

   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1

In [174]:
df2.iloc[0:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,4,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4

In [175]:
df2.iloc[0:2,["PassengerId","Survived","Pclass"]]

IndexError: .iloc requires numeric indexers, got ['PassengerId' 'Survived' 'Pclass']

In [177]:
df2.loc[0:1,["PassengerId","Survived","Pclass"]]

   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1

In [180]:
df2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'new_col', 'new_col1'],
      dtype='object')

In [182]:
s=df2["Name"][0:10]

In [183]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [184]:
len(s)

10

In [185]:
l =["a","b","c","d","e","f","g","h","i","j"]

In [188]:
pd.Series(list(s),l)


# In[ ]:

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [189]:
s[3:7]

3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                        Allen, Mr. William Henry
5                                Moran, Mr. James
6                         McCarthy, Mr. Timothy J
Name: Name, dtype: object

In [190]:
type(s)

pandas.core.series.Series

In [202]:
s1= pd.Series(list(s),index=l)

In [220]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [219]:
s1[3]

'Futrelle, Mrs. Jacques Heath (Lily May Peel)'

In [213]:
s4= pd.Series([3,5],index=[7,9])

In [215]:
si = pd.concat([s1,s4])

In [216]:
si

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
7                                                    3
9                                                    5
dtype: object

In [218]:
si[7]

3

In [203]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [211]:
s1['j']

'Nasser, Mrs. Nicholas (Adele Achem)'

In [212]:
s1[4]

'Allen, Mr. William Henry'

In [207]:

# s2= s1.append(pd.Series(list(s)))
# s1.append(s)
s2 = pd.concat([s1,s])

In [209]:
s2[4:6]

e    Allen, Mr. William Henry
f            Moran, Mr. James
dtype: object

In [56]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  new_col      891 non-null    int64
 13  new_col1     891 non-null    int64
dtypes: float64(2), int64(7), object(5)
memory usage: 97.6+ KB

In [57]:
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col,new_col1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,4,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,4
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,6,6
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,5,8
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,889,1774
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,889,1776
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,892,1778
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,891,1780
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,894,1782

In [58]:
df2.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>PassengerId</th>\n      <th>Survived</th>\n      <th>Pclass</th>\n      <th>Name</th>\n      <th>Sex</th>\n      <th>Age</th>\n      <th>SibSp</th>\n      <th>Parch</th>\n      <th>Ticket</th>\n      <th>Fare</th>\n      <th>Cabin</th>\n      <th>Embarked</th>\n      <th>new_col</th>\n      <th>new_col1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Braund, Mr. Owen Harris</td>\n      <td>male</td>\n      <td>22.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>A/5 21171</td>\n      <td>7.2500</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>4</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>1</td>\n      <td>1</td>\n      <td>Cumings, Mrs. John Bradley (Florence Briggs Thayer)</td>\n      <td>female</td>\n      <td>38.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>PC 17599</td>\n      <td>71.2833</td>\n      <td>C85</td>\n      <td>C</td>\n      <td>3</td>\n      <td>4</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>1</td>\n      <td>3</td>\n      <td>Heikkinen, Miss. Laina</td>\n      <td>female</td>\n      <td>26.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>STON/O2. 3101282</td>\n      <td>7.9250</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>6</td>\n      <td>6</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>1</td>\n      <td>1</td>\n      <td>Futrelle, Mrs. Jacques Heath (Lily May Peel)</td>\n      <td>female</td>\n      <td>35.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>113803</td>\n      <td>53.1000</td>\n      <td>C123</td>\n      <td>S</td>\n      <td>5</td>\n      <td>8</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Allen, Mr. William Henry</td>\n      <td>male</td>\n      <td>35.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>373450</td>\n      <td>8.0500</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>8</td>\n      <td>10</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>6</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Moran, Mr. James</td>\n      <td>male</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>330877</td>\n      <td>8.4583</td>\n      <td>NaN</td>\n      <td>Q</td>\n      <td>9</td>\n      <td>12</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>7</td>\n      <td>0</td>\n      <td>1</td>\n      <td>McCarthy, Mr. Timothy J</td>\n      <td>male</td>\n      <td>54.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>17463</td>\n      <td>51.8625</td>\n      <td>E46</td>\n      <td>S</td>\n      <td>8</td>\n      <td>14</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>8</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Palsson, Master. Gosta Leonard</td>\n      <td>male</td>\n      <td>2.00</td>\n      <td>3</td>\n      <td>1</td>\n      <td>349909</td>\n      <td>21.0750</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>11</td>\n      <td>16</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>9</td>\n      <td>1</td>\n      <td>3</td>\n      <td>Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)</td>\n      <td>female</td>\n      <td>27.00</td>\n      <td>0</td>\n      <td>2</td>\n      <td>347742</td>\n      <td>11.1333</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>12</td>\n      <td>18</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>10</td>\n      <td>1</td>\n      <td>2</td>\n      <td>Nasser, Mrs. Nicholas (Adele Achem)</td>\n      <td>female</td>\n      <td>14.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>237736</td>\n      <td>30.0708</td>\n      <td>NaN</td>\n      <td>C</td>\n      <td>12</td>\n      <td>20</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>11</td>\n      <td>1</td>\n      <td>3</td>\n      <td>Sandstrom, Miss. Marguerite Rut</td>\n      <td>female</td>\n      <td>4.00</td>\n      <td>1</td>\n      <td>1</td>\n      <td>PP 9549</td>\n      <td>16.7000</td>\n      <td>G6</td>\n      <td>S</td>\n      <td>14</td>\n      <td>22</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>12</td>\n      <td>1</td>\n      <td>1</td>\n      <td>Bonnell, Miss. Elizabeth</td>\n      <td>female</td>\n      <td>58.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>113783</td>\n      <td>26.5500</td>\n      <td>C103</td>\n      <td>S</td>\n      <td>13</td>\n      <td>24</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>13</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Saundercock, Mr. William Henry</td>\n      <td>male</td>\n      <td>20.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>A/5. 2151</td>\n      <td>8.0500</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>16</td>\n      <td>26</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>14</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Andersson, Mr. Anders Johan</td>\n      <td>male</td>\n      <td>39.00</td>\n      <td>1</td>\n      <td>5</td>\n      <td>347082</td>\n      <td>31.2750</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>17</td>\n      <td>28</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>15</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Vestrom, Miss. Hulda Amanda Adolfina</td>\n      <td>female</td>\n      <td>14.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>350406</td>\n      <td>7.8542</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>18</td>\n      <td>30</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>16</td>\n      <td>1</td>\n      <td>2</td>\n      <td>Hewlett, Mrs. (Mary D Kingcome)</td>\n      <td>female</td>\n      <td>55.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>248706</td>\n      <td>16.0000</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>18</td>\n      <td>32</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>17</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Rice, Master. Eugene</td>\n      <td>male</td>\n      <td>2.00</td>\n      <td>4</td>\n      <td>1</td>\n      <td>382652</td>\n      <td>29.1250</td>\n      <td>NaN</td>\n      <td>Q</td>\n      <td>20</td>\n      <td>34</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>18</td>\n      <td>1</td>\n      <td>2</td>\n      <td>Williams, Mr. Charles Eugene</td>\n      <td>male</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>244373</td>\n      <td>13.0000</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>20</td>\n      <td>36</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>19</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)</td>\n      <td>female</td>\n      <td>31.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>345763</td>\n      <td>18.0000</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>22</td>\n      <td>38</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>20</td>\n      <td>1</td>\n      <td>3</td>\n      <td>Masselmani, Mrs. Fatima</td>\n      <td>female</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>2649</td>\n      <td>7.2250</td>\n      <td>NaN</td>\n      <td>C</td>\n      <td>23</td>\n      <td>40</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>21</td>\n      <td>0</td>\n      <td>2</td>\n      <td>Fynney, Mr. Joseph J</td>\n      <td>male</td>\n      <td>35.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>239865</td>\n      <td>26.0000</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>23</td>\n      <td>42</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>22</td>\n      <td>1</td>\n      <td>2</td>\n      <td>Beesley, Mr. Lawrence</td>\n      <td>male</td>\n      <td>34.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>248698</td>\n      <td>13.0000</td>\n      <td>D56</td>\n      <td>S</td>\n      <td>24</td>\n      <td>44</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>23</td>\n      <td>1</td>\n      <td>3</td>\n      <td>McGowan, Miss. Anna "Annie"</td>\n      <td>female</td>\n      <td>15.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>330923</td>\n      <td>8.0292</td>\n      <td>NaN</td>\n      <td>Q</td>\n      <td>26</td>\n      <td>46</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>24</td>\n      <td>1</td>\n      <td>1</td>\n      <td>Sloper, Mr. William Thompson</td>\n      <td>male</td>\n      <td>28.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>113788</td>\n      <td>35.5000</td>\n      <td>A6</td>\n      <td>S</td>\n      <td>25</td>\n      <td>48</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>25</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Palsson, Miss. Torborg Danira</td>\n      <td>female</td>\n      <td>8.00</td>\n      <td>3</td>\n      <td>1</td>\n      <td>349909</td>\n      <td>21.0750</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>28</td>\n      <td>50</td>\n    </tr>\n    <tr>\n      <th>25</th>\n      <td>26</td>\n      <td>1</td>\n      <td>3</td>\n      <td>Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)</td>\n      <td>female</td>\n      <td>38.00</td>\n      <td>1</td>\n      <td>5</td>\n      <td>347077</td>\n      <td>31.3875</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>29</td>\n      <td>52</td>\n    </tr>\n    <tr>\n      <th>26</th>\n      <td>27</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Emir, Mr. Farred Chehab</td>\n      <td>male</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>2631</td>\n      <td>7.2250</td>\n      <td>NaN</td>\n      <td>C</td>\n      <td>30</td>\n      <td>54</td>\n    </tr>\n    <tr>\n      <th>27</th>\n      <td>28</td>\n      <td>0</td>\n      <td>1</td>\n      <td>Fortune, Mr. Charles Alexander</td>\n      <td>male</td>\n      <td>19.00</td>\n      <td>3</td>\n      <td>2</td>\n      <td>19950</td>\n      <td>263.0000</td>\n      <td>C23 C25 C27</td>\n      <td>S</td>\n      <td>29</td>\n      <td>56</td>\n    </tr>\n    <tr>\n      <th>28</th>\n      <td>29</td>\n      <td>1</td>\n      <td>3</td>\n      <td>O\'Dwyer, Miss. Ellen "Nellie"</td>\n      <td>female</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>330959</td>\n      <td>7.8792</td>\n      <td>NaN</td>\n      <td>Q</td>\n      <td>32</td>\n      <td>58</td>\n    </tr>\n    <tr>\n      <th>29</th>\n      <td>30</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Todoroff, Mr. Lalio</td>\n      <td>male</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>349216</td>\n      <td>7.8958</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>33</td>\n      <td>60</td>\n    </tr>\n    <tr>\n      <th>30</th>\n      <td>31</td>\n      <td>0</td>\n      <td>1</td>\n      <td>Uruchurtu, Don. Manuel E</td>\n      <td>male</td>\n      <td>40.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>PC 17601</td>\n      <td>27.7208</td>\n      <td>NaN</td>\n      <td>C</td>\n      <td>32</td>\n      <td>62</td>\n    </tr>\n    <tr>\n      <th>31</th>\n      <td>32</td>\n      <td>1</td>\n      <td>1</td>\n      <td>Spencer, Mrs. William Augustus (Marie Eugenie)</td>\n      <td>female</td>\n      <td>NaN</td>\n      <td>1</td>\n      <td>0</td>\n      <td>PC 17569</td>\n      <td>146.5208</td>\n      <td>B78</td>\n      <td>C</td>\n      <td>33</td>\n      <td>64</td>\n    </tr>\n    <tr>\n      <th>32</th>\n      <td>33</td>\n      <td>1</td>\n      <td>3</td>\n      <td>Glynn, Miss. Mary Agatha</td>\n      <td>female</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>335677</td>\n      <td>7.7500</td>\n      <td>NaN</td>\n      <td>Q</td>\n      <td>36</td>\n      <td>66</td>\n    </tr>\n    <tr>\n      <th>33</th>\n      <td>34</td>\n      <td>0</td>\n      <td>2</td>\n      <td>Wheadon, Mr. Edward H</td>\n      <td>male</td>\n      <td>66.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>C.A. 24579</td>\n      <td>10.5000</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>36</td>\n      <td>68</td>\n    </tr>\n    <tr>\n      <th>34</th>\n      <td>35</td>\n      <td>0</td>\n      <td>1</td>\n      <td>Meyer, Mr. Edgar Joseph</td>\n      <td>male</td>\n      <td>28.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>PC 17604</td>\n      <td>82.1708</td>\n      <td>NaN</td>\n      <td>C</td>\n      <td>36</td>\n      <td>70</td>\n    </tr>\n    <tr>\n      <th>35</th>\n      <td>36</td>\n      <td>0</td>\n      <td>1</td>\n      <td>Holverson, Mr. Alexander Oskar</td>\n      <td>male</td>\n      <td>42.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>113789</td>\n      <td>52.0000</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>37</td>\n      <td>72</td>\n    </tr>\n    <tr>\n      <th>36</th>\n      <td>37</td>\n      <td>1</td>\n      <td>3</td>\n      <td>Mamee, Mr. Hanna</td>\n      <td>male</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>2677</td>\n      <td>7.2292</td>\n      <td>NaN</td>\n      <td>C</td>\n      <td>40</td>\n      <td>74</td>\n    </tr>\n    <tr>\n      <th>37</th>\n      <td>38</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Cann, Mr. Ernest Charles</td>\n      <td>male</td>\n      <td>21.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>A./5. 2152</td>\n      <td>8.0500</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>41</td>\n      <td>76</td>\n    </tr>\n    <tr>\n      <th>38</th>\n      <td>39</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Vander Planke, Miss. Augusta Maria</td>\n      <td>female</td>\n      <td>18.00</td>\n      <td>2</td>\n      <td>0</td>\n      <td>345764</td>\n      <td>18.0000</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>42</td>\n      <td>78</td>\n    </tr>\n    <tr>\n      <th>39</th>\n      <td>40</td>\n      <td>1</td>\n      <td>3</td>\n      <td>Nicola-Yarred, Miss. Jamila</td>\n      <td>female</td>\n      <td>14.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>2651</td>\n      <td>11.2417</td>\n      <td>NaN</td>\n      <td>C</td>\n      <td>43</td>\n      <td>80</td>\n    </tr>\n    <tr>\n      <th>40</th>\n      <td>41</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Ahlin, Mrs. Johan (Johanna Persdotter Larsson)</td>\n      <td>female</td>\n      <td>40.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>7546</td>\n      <td>9.4750</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>44</td>\n      <td>82</td>\n    </tr>\n    <tr>\n      <th>41</th>\n      <td>42</td>\n      <td>0</td>\n      <td>2</td>\n      <td>Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)</td>\n      <td>female</td>\n      <td>27.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>11668</td>\n      <td>21.0000</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>44</td>\n      <td>84</td>\n    </tr>\n    <tr>\n      <th>42</th>\n      <td>43</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Kraeff, Mr. Theodor</td>\n      <td>male</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>349253</td>\n      <td>7.8958</td>\n      <td>NaN</td>\n      <td>C</td>\n      <td>46</td>\n      <td>86</td>\n    </tr>\n    <tr>\n      <th>43</th>\n      <td>44</td>\n      <td>1</td>\n      <td>2</td>\n      <td>Laroche, Miss. Simonne Marie Anne Andree</td>\n      <td>female</td>\n      <td>3.00</td>\n      <td>1</td>\n      <td>2</td>\n      <td>SC/Paris 2123</td>\n      <td>41.5792</td>\n      <td>NaN</td>\n      <td>C</td>\n      <td>46</td>\n      <td>88</td>\n    </tr>\n    <tr>\n      <th>44</th>\n      <td>45</td>\n      <td>1</td>\n      <td>3</td>\n      <td>Devaney, Miss. Margaret Delia</td>\n      <td>female</td>\n      <td>19.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>330958</td>\n      <td>7.8792</td>\n      <td>NaN</td>\n      <td>Q</td>\n      <td>48</td>\n      <td>90</td>\n    </tr>\n    <tr>\n      <th>45</th>\n      <td>46</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Rogers, Mr. William John</td>\n      <td>male</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>S.C./A.4. 23567</td>\n      <td>8.0500</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>49</td>\n      <td>92</td>\n    </tr>\n    <tr>\n      <th>46</th>\n      <td>47</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Lennon, Mr. Denis</td>\n      <td>male</td>\n      <td>NaN</td>\n      <td>1</td>\n      <td>0</td>\n      <td>370371</td>\n      <td>15.5000</td>\n      <td>NaN</td>\n      <td>Q</td>\n      <td>50</td>\n      <td>94</td>\n    </tr>\n    <tr>\n      <th>47</th>\n      <td>48</td>\n      <td>1</td>\n      <td>3</td>\n      <td>O\'Driscoll, Miss. Bridget</td>\n      <td>female</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>14311</td>\n      <td>7.7500</td>\n      <td>NaN</td>\n      <td>Q</td>\n      <td>51</td>\n      <td>96</td>\n    </tr>\n    <tr>\n      <th>48</th>\n      <td>49</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Samaan, Mr. Youssef</td>\n      <td>male</td>\n      <td>NaN</td>\n      <td>2</td>\n      <td>0</td>\n      <td>2662</td>\n      <td>21.6792</td>\n      <td>NaN</td>\n      <td>C</td>\n      <td>52</td>\n      <td>98</td>\n    </tr>\n    <tr>\n      <th>49</th>\n      <td>50</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Arnold-Franchi, Mrs. Josef (Josefine Franchi)</td>\n      <td>female</td>\n      <td>18.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>349237</td>\n      <td>17.8000</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>53</td>\n      <td>100</td>\n    </tr>\n    <tr>\n      <th>50</th>\n      <td>51</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Panula, Master. Juha Niilo</td>\n      <td>male</td>\n      <td>7.00</td>\n      <td>4</td>\n      <td>1</td>\n      <td>3101295</td>\n      <td>39.6875</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>54</td>\n      <td>102</td>\n    </tr>\n    <tr>\n      <th>51</th>\n      <td>52</td>\n      <td>0</td>\n      <td>3</td>\n      <td>Nosworthy, Mr. Richard Cater</td>\n      <td>male</td>\n      <td>21.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>A/4. 39886</td>\n      <td>7.8000</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>55</td>\n      <td>104</td>\n    </tr>\n    <tr>\n      <th>52</th>\n      <td>53</td>\n      <td>1</td>\n      <td>1</td>\n      <td>Harper, Mrs. Henry Sleeper (Myna Haxtun)</td>\n      <td>female</td>\n      <td>49.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>PC 17572</td>\n      <td>76.7292</td>\n      <td>D33</td>\n      <td>C</td>\n      <td>54</td>\n      <td>106</td>\n    </tr>\n    <tr>\n      <th>53</th>\n      <td>54</td>\n      <td>1</td>\n      <td>2</td>\n      <td>Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)</td>\n      <td>female</td>\n      <td>29.00</td>\n      <td>1</td>\n      <td>0</td>\n      <td>2926</td>\n      <td>26.0000</td>\n      <td>NaN</td>\n      <td>S</td>\n      <td>56</td>\n      <td>108</td>\n    </tr>\n    <tr>\n      <th>54</th>\n      <td>55</td>\n      <td>0</td>\n      <td>1</td>\n      <td>Ostby, Mr. Engelhart Cornelius</td>\n      <td>male</td>\n      <td>65.00</td>\n      <td>0</td>\n      <td>1</td>\n      <td>113509</td>\n      <td>61.9792</td>\n      <td>B30</td>\n      <td>C</td>\n      <td>56</td>\n      <td>110</td>\n    </tr>\n    <tr>\n      <th>55</th>\n      <td>56</td>\n      <td>1</td>\n      <td>1</td>\n      <td>Woolner, Mr. Hugh</td>\n      <td>male</td>\n      <td>NaN</td>\n      <td>0</td>\n      <td>0</td>\n      <td>19947</td>\n      <td>35.5000</td>\n      <td>C52</td>\n      <td>S</td>\n      <td>57</td>\n      <td>112</td>\n    </tr>\n    <tr>\n      <th>56</th>\n      <td>57</td>\n      <td>1</td>\n      <td>2</td>\n      <td>Rugg, Miss. Emily</td>\n      <td>female</td>\n      <td>21.00</td>\n      <td>0</td>\n      <td>0</td>\n      <td>C.A. 31026</td>\n      <td>10.5000</td>

In [59]:
df2.to_json()

'{"PassengerId":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10,"10":11,"11":12,"12":13,"13":14,"14":15,"15":16,"16":17,"17":18,"18":19,"19":20,"20":21,"21":22,"22":23,"23":24,"24":25,"25":26,"26":27,"27":28,"28":29,"29":30,"30":31,"31":32,"32":33,"33":34,"34":35,"35":36,"36":37,"37":38,"38":39,"39":40,"40":41,"41":42,"42":43,"43":44,"44":45,"45":46,"46":47,"47":48,"48":49,"49":50,"50":51,"51":52,"52":53,"53":54,"54":55,"55":56,"56":57,"57":58,"58":59,"59":60,"60":61,"61":62,"62":63,"63":64,"64":65,"65":66,"66":67,"67":68,"68":69,"69":70,"70":71,"71":72,"72":73,"73":74,"74":75,"75":76,"76":77,"77":78,"78":79,"79":80,"80":81,"81":82,"82":83,"83":84,"84":85,"85":86,"86":87,"87":88,"88":89,"89":90,"90":91,"91":92,"92":93,"93":94,"94":95,"95":96,"96":97,"97":98,"98":99,"99":100,"100":101,"101":102,"102":103,"103":104,"104":105,"105":106,"106":107,"107":108,"108":109,"109":110,"110":111,"111":112,"112":113,"113":114,"114":115,"115":116,"116":117,"117":118,"118":119,"119":120,"120":121,"121":122,"122":123,"123":124,"124":125,"125":126,"126":127,"127":128,"128":129,"129":130,"130":131,"131":132,"132":133,"133":134,"134":135,"135":136,"136":137,"137":138,"138":139,"139":140,"140":141,"141":142,"142":143,"143":144,"144":145,"145":146,"146":147,"147":148,"148":149,"149":150,"150":151,"151":152,"152":153,"153":154,"154":155,"155":156,"156":157,"157":158,"158":159,"159":160,"160":161,"161":162,"162":163,"163":164,"164":165,"165":166,"166":167,"167":168,"168":169,"169":170,"170":171,"171":172,"172":173,"173":174,"174":175,"175":176,"176":177,"177":178,"178":179,"179":180,"180":181,"181":182,"182":183,"183":184,"184":185,"185":186,"186":187,"187":188,"188":189,"189":190,"190":191,"191":192,"192":193,"193":194,"194":195,"195":196,"196":197,"197":198,"198":199,"199":200,"200":201,"201":202,"202":203,"203":204,"204":205,"205":206,"206":207,"207":208,"208":209,"209":210,"210":211,"211":212,"212":213,"213":214,"214":215,"215":216,"216":217,"217":218,"218":219,"219":220,"220":221,"221":222,"222":223,"223":224,"224":225,"225":226,"226":227,"227":228,"228":229,"229":230,"230":231,"231":232,"232":233,"233":234,"234":235,"235":236,"236":237,"237":238,"238":239,"239":240,"240":241,"241":242,"242":243,"243":244,"244":245,"245":246,"246":247,"247":248,"248":249,"249":250,"250":251,"251":252,"252":253,"253":254,"254":255,"255":256,"256":257,"257":258,"258":259,"259":260,"260":261,"261":262,"262":263,"263":264,"264":265,"265":266,"266":267,"267":268,"268":269,"269":270,"270":271,"271":272,"272":273,"273":274,"274":275,"275":276,"276":277,"277":278,"278":279,"279":280,"280":281,"281":282,"282":283,"283":284,"284":285,"285":286,"286":287,"287":288,"288":289,"289":290,"290":291,"291":292,"292":293,"293":294,"294":295,"295":296,"296":297,"297":298,"298":299,"299":300,"300":301,"301":302,"302":303,"303":304,"304":305,"305":306,"306":307,"307":308,"308":309,"309":310,"310":311,"311":312,"312":313,"313":314,"314":315,"315":316,"316":317,"317":318,"318":319,"319":320,"320":321,"321":322,"322":323,"323":324,"324":325,"325":326,"326":327,"327":328,"328":329,"329":330,"330":331,"331":332,"332":333,"333":334,"334":335,"335":336,"336":337,"337":338,"338":339,"339":340,"340":341,"341":342,"342":343,"343":344,"344":345,"345":346,"346":347,"347":348,"348":349,"349":350,"350":351,"351":352,"352":353,"353":354,"354":355,"355":356,"356":357,"357":358,"358":359,"359":360,"360":361,"361":362,"362":363,"363":364,"364":365,"365":366,"366":367,"367":368,"368":369,"369":370,"370":371,"371":372,"372":373,"373":374,"374":375,"375":376,"376":377,"377":378,"378":379,"379":380,"380":381,"381":382,"382":383,"383":384,"384":385,"385":386,"386":387,"387":388,"388":389,"389":390,"390":391,"391":392,"392":393,"393":394,"394":395,"395":396,"396":397,"397":398,"398":399,"399":400,"400":401,"401":402,"402":403,"403":404,"404":405,"405":406,"406":407,"407":408,"408":409,"409":410,"410":411,"411":412,"412":413,"413":414,"414":415,"415":416,"416":417,"417":418,"418":419,"419":420,"420":421,"421":422,"422":423,"423":424,"424":425,"425":426,"426":427,"427":428,"428":429,"429":430,"430":431,"431":432,"432":433,"433":434,"434":435,"435":436,"436":437,"437":438,"438":439,"439":440,"440":441,"441":442,"442":443,"443":444,"444":445,"445":446,"446":447,"447":448,"448":449,"449":450,"450":451,"451":452,"452":453,"453":454,"454":455,"455":456,"456":457,"457":458,"458":459,"459":460,"460":461,"461":462,"462":463,"463":464,"464":465,"465":466,"466":467,"467":468,"468":469,"469":470,"470":471,"471":472,"472":473,"473":474,"474":475,"475":476,"476":477,"477":478,"478":479,"479":480,"480":481,"481":482,"482":483,"483":484,"484":485,"485":486,"486":487,"487":488,"488":489,"489":490,"490":491,"491":492,"492":493,"493":494,"494":495,"495":496,"496":497,"497":498,"498":499,"499":500,"500":501,"501":502,"502":503,"503":504,"504":505,"505":506,"506":507,"507":508,"508":509,"509":510,"510":511,"511":512,"512":513,"513":514,"514":515,"515":516,"516":517,"517":518,"518":519,"519":520,"520":521,"521":522,"522":523,"523":524,"524":525,"525":526,"526":527,"527":528,"528":529,"529":530,"530":531,"531":532,"532":533,"533":534,"534":535,"535":536,"536":537,"537":538,"538":539,"539":540,"540":541,"541":542,"542":543,"543":544,"544":545,"545":546,"546":547,"547":548,"548":549,"549":550,"550":551,"551":552,"552":553,"553":554,"554":555,"555":556,"556":557,"557":558,"558":559,"559":560,"560":561,"561":562,"562":563,"563":564,"564":565,"565":566,"566":567,"567":568,"568":569,"569":570,"570":571,"571":572,"572":573,"573":574,"574":575,"575":576,"576":577,"577":578,"578":579,"579":580,"580":581,"581":582,"582":583,"583":584,"584":585,"585":586,"586":587,"587":588,"588":589,"589":590,"590":591,"591":592,"592":593,"593":594,"594":595,"595":596,"596":597,"597":598,"598":599,"599":600,"600":601,"601":602,"602":603,"603":604,"604":605,"605":606,"606":607,"607":608,"608":609,"609":610,"610":611,"611":612,"612":613,"613":614,"614":615,"615":616,"616":617,"617":618,"618":619,"619":620,"620":621,"621":622,"622":623,"623":624,"624":625,"625":626,"626":627,"627":628,"628":629,"629":630,"630":631,"631":632,"632":633,"633":634,"634":635,"635":636,"636":637,"637":638,"638":639,"639":640,"640":641,"641":642,"642":643,"643":644,"644":645,"645":646,"646":647,"647":648,"648":649,"649":650,"650":651,"651":652,"652":653,"653":654,"654":655,"655":656,"656":657,"657":658,"658":659,"659":660,"660":661,"661":662,"662":663,"663":664,"664":665,"665":666,"666":667,"667":668,"668":669,"669":670,"670":671,"671":672,"672":673,"673":674,"674":675,"675":676,"676":677,"677":678,"678":679,"679":680,"680":681,"681":682,"682":683,"683":684,"684":685,"685":686,"686":687,"687":688,"688":689,"689":690,"690":691,"691":692,"692":693,"693":694,"694":695,"695":696,"696":697,"697":698,"698":699,"699":700,"700":701,"701":702,"702":703,"703":704,"704":705,"705":706,"706":707,"707":708,"708":709,"709":710,"710":711,"711":712,"712":713,"713":714,"714":715,"715":716,"716":717,"717":718,"718":719,"719":720,"720":721,"721":722,"722":723,"723":724,"724":725,"725":726,"726":727,"727":728,"728":729,"729":730,"730":731,"731":732,"732":733,"733":734,"734":735,"735":736,"736":737,"737":738,"738":739,"739":740,"740":741,"741":742,"742":743,"743":744,"744":745,"745":746,"746":747,"747":748,"748":749,"749":750,"750":751,"751":752,"752":753,"753":754,"754":755,"755":756,"756":757,"757":758,"758":759,"759":760,"760":761,"761":762,"762":763,"763":764,"764":765,"765":766,"766":767,"767":768,"768":769,"769":770,"770":771,"771":772,"772":773,"773":774,"774":775,"775":776,"776":777,"777":778,"778":779,"779":780,"780":781,"781":782,"782":783,"783":784,"784":785,"785":786,"786":787,"787":788,"788":789,"789":790,"790":791,"791":792,"792":793,"793":794,"794":795,"795":796,"796":797,"797":798,"798":799,"799":800,"800":801,"801":802,"802":803,"803":804,"804":805,"805":806,"806":807,"807":808,"808":809,"809":810,"810":811,"811":812,"812":813,"813":814,"814":815,"815":816,"816":817,"817":818,"818":819,"819":820,"820":821,"821":822,"822":823,"823":824,"824":825,"825":826,"826":827,"827":828,"828":829,"829":830,"830":831,"831":832,"832":833,"833":834,"834":835,"835":836,"836":837,"837":838,"838":839,"839":840,"840":841,"841":842,"842":843,"843":844,"844":845,"845":846,"846":847,"847":848,"848":849,"849":850,"850":851,"851":852,"852":853,"853":854,"854":855,"855":856,"856":857,"857":858,"858":859,"859":860,"860":861,"861":862,"862":863,"863":864,"864":865,"865":866,"866":867,"867":868,"868":869,"869":870,"870":871,"871":872,"872":873,"873":874,"874":875,"875":876,"876":877,"877":878,"878":879,"879":880,"880":881,"881":882,"882":883,"883":884,"884":885,"885":886,"886":887,"887":888,"888":889,"889":890,"890":891},"Survived":{"0":0,"1":1,"2":1,"3":1,"4":0,"5":0,"6":0,"7":0,"8":1,"9":1,"10":1,"11":1,"12":0,"13":0,"14":0,"15":1,"16":0,"17":1,"18":0,"19":1,"20":0,"21":1,"22":1,"23":1,"24":0,"25":1,"26":0,"27":0,"28":1,"29":0,"30":0,"31":1,"32":1,"33":0,"34":0,"35":0,"36":1,"37":0,"38":0,"39":1,"40":0,"41":0,"42":0,"43":1,"44":1,"45":0,"46":0,"47":1,"48":0,"49":0,"50":0,"51":0,"52":1,"53":1,"54":0,"55":1,"56":1,"57":0,"58":1,"59":0,"60":0,"61":1,"62":0,"63":0,"64":0,"65":1,"66":1,"67":0,"68":1,"69":0,"70":0,"71":0,"72":0,"73":0,"74":1,"75":0,"76":0,"77":0,"78":1,"79":1,"80":0,"81":1,"82":1,"83":0,"84":1,"85":1,"86":0,"87":0,"88":1,"89":0,"90":0,"91":0,"92":0,"93":0,"94":0,"95":0,"96":0,"97":1,"98":1,"99":0,"100":0,"101":0,"102":0,"103":0,"104":0,"105":0,"106":1,"107":1,"108":0,"109":1,"110":0,"111":0,"112":0,"113":0,"114":0,"115":0,"116":0,"117":0,"118":0,"119":0,"120":0,"121":0,"122":0,"123":1,"124":0,"125":1,"126":0,"127":1,"128":1,"129":0,"130":0,"131":0,"132":0,"133":1,"134":0,"135":0,"136":1,"137":0,"138":0,"139":0,"140":0,"141":1,"142":1,"143":0,"144":0,"145":0,"146":1,"147":0,"148":0,"149":0,"150":0,"151":1,"152":0,"153":0,"154":0,"155":0,"156":1,"157":0,"158":0,"159":0,"160":0,"161":1,"162":0,"163":0,"164":0,"165":1,"166":1,"167":0,"168":0,"169":0,"170":0,"171":0,"172":1,"173":0,"174":0,"175":0,"176":0,"177":0,"178":0,"179":0,"180":0,"181":0,"182":0,"183":1,"184":1,"185":0,"186":1,"187":1,"188":0,"189":0,"190":1,"191":0,"192":1,"193":1,"194":1,"195":1,"196":0,"197":0,"198":1,"199":0,"200":0,"201":0,"202":0,"203":0,"204":1,"205":0,"206":0,"207":1,"208":1,"209":1,"210":0,"211":1,"212":0,"213":0,"214":0,"215":1,"216":1,"217":0,"218":1,"219":0,"220":1,"221":0,"222":0,"223":0,"224":1,"225":0,"226":1,"227":0,"228":0,"229":0,"230":1,"231":0,"232":0,"233":1,"234":0,"235":0,"236":0,"237":1,"238":0,"239":0,"240":0,"241":1,"242":0,"243":0,"244":0,"245":0,"246":0,"247":1,"248":1,"249":0,"250":0,"251":0,"252":0,"253":0,"254":0,"255":1,"256":1,"257":1,"258":1,"259":1,"260":0,"261":1,"262":0,"263":0,"264":0,"265":0,"266":0,"267":1,"268":1,"269":1,"270":0,"271":1,"272":1,"273":0,"274":1,"275":1,"276":0,"277":0,"278":0,"279":1,"280":0,"281":0,"282":0,"283":1,"284":0,"285":0,"286":1,"287":0,"288":1,"289":1,"290":1,"291":1,"292":0,"293":0,"294":0,"295":0,"296":0,"297":0,"298":1,"299":1,"300":1,"301":1,"302":0,"303":1,"304":0,"305":1,"306":1,"307":1,"308":0,"309":1,"310":1,"311":1,"312":0,"313":0,"314":0,"315":1,"316":1,"317":0,"318":1,"319":1,"320":0,"321":0,"322":1,"323":1,"324":0,"325":1,"326":0,"327":1,"328":1,"329":1,"330":1,"331":0,"332":0,"333":0,"334":1,"335":0,"336":0,"337":1,"338":1,"339":0,"340":1,"341":1,"342":0,"343":0,"344":0,"345":1,"346":1,"347":1,"348":1,"349":0,"350":0,"351":0,"352":0,"353":0,"354":0,"355":0,"356":1,"357":0,"358":1,"359":1,"360":0,"361":0,"362":0,"363":0,"364":0,"365":0,"366":1,"367":1,"368":1,"369":1,"370":1,"371":0,"372":0,"373":0,"374":0,"375":1,"376":1,"377":0,"378":0,"379":0,"380":1,"381":1,"382":0,"383":1,"384":0,"385":0,"386":0,"387":1,"388":0,"389":1,"390":1,"391":1,"392":0,"393":1,"394":1,"395":0,"396":0,"397":0,"398":0,"399":1,"400":1,"401":0,"402":0,"403":0,"404":0,"405":0,"406":0,"407":1,"408":0,"409":0,"410":0,"411":0,"412":1,"413":0,"414":1,"415":0,"416":1,"417":1,"418":0,"419":0,"420":0,"421":0,"422":0,"423":0,"424":0,"425":0,"426":1,"427":1,"428":0,"429":1,"430":1,"431":1,"432":1,"433":0,"434":0,"435":1,"436":0,"437":1,"438":0,"439":0,"440":1,"441":0,"442":0,"443":1,"444":1,"445":1,"446":1,"447":1,"448":1,"449":1,"450":0,"451":0,"452":0,"453":1,"454":0,"455":1,"456":0,"457":1,"458":1,"459":0,"460":1,"461":0,"462":0,"463":0,"464":0,"465":0,"466":0,"467":0,"468":0,"469":1,"470":0,"471":0,"472":1,"473":1,"474":0,"475":0,"476":0,"477":0,"478":0,"479":1,"480":0,"481":0,"482":0,"483":1,"484":1,"485":0,"486":1,"487":0,"488":0,"489":1,"490":0,"491":0,"492":0,"493":0,"494":0,"495":0,"496":1,"497":0,"498":0,"499":0,"500":0,"501":0,"502":0,"503":0,"504":1,"505":0,"506":1,"507":1,"508":0,"509":1,"510":1,"511":0,"512":1,"513":1,"514":0,"515":0,"516":1,"517":0,"518":1,"519":0,"520":1,"521":0,"522":0,"523":1,"524":0,"525":0,"526":1,"527":0,"528":0,"529":0,"530":1,"531":0,"532":0,"533":1,"534":0,"535":1,"536":0,"537":1,"538":0,"539":1,"540":1,"541":0,"542":0,"543":1,"544":0,"545":0,"546":1,"547":1,"548":0,"549":1,"550":1,"551":0,"552":0,"553":1,"554":1,"555":0,"556":1,"557":0,"558":1,"559":1,"560":0,"561":0,"562":0,"563":0,"564":0,"565":0,"566":0,"567":0,"568":0,"569":1,"570":1,"571":1,"572":1,"573":1,"574":0,"575":0,"576":1,"577":1,"578":0,"579":1,"580":1,"581":1,"582":0,"583":0,"584":0,"585":1,"586":0,"587":1,"588":0,"589":0,"590":0,"591":1,"592":0,"593":0,"594":0,"595":0,"596":1,"597":0,"598":0,"599":1,"600":1,"601":0,"602":0,"603":0,"604":1,"605":0,"606":0,"607":1,"608":1,"609":1,"610":0,"611":0,"612":1,"613":0,"614":0,"615":1,"616":0,"617":0,"618":1,"619":0,"620":0,"621":1,"622":1,"623":0,"624":0,"625":0,"626":0,"627":1,"628":0,"629":0,"630":1,"631":0,"632":1,"633":0,"634":0,"635":1,"636":0,"637":0,"638":0,"639":0,"640":0,"641":1,"642":0,"643":1,"644":1,"645":1,"646":0,"647":1,"648":0,"649":1,"650":0,"651":1,"652":0,"653":1,"654":0,"655":0,"656":0,"657":0,"658":0,"659":0,"660":1,"661":0,"662":0,"663":0,"664":1,"665":0,"666":0,"667":0,"668":0,"669":1,"670":1,"671":0,"672":0,"673":1,"674":0,"675":0,"676":0,"677":1,"678":0,"679":1,"680":0,"681":1,"682":0,"683":0,"684":0,"685":0,"686":0,"687":0,"688":0,"689":1,"690":1,"691":1,"692":1,"693":0,"694":0,"695":0,"696":0,"697":1,"698":0,"699":0,"700":1,"701":1,"702":0,"703":0,"704":0,"705":0,"706":1,"707":1,"708":1,"709":1,"710":1,"711":0,"712":1,"713":0,"714":0,"715":0,"716":1,"717":1,"718":0,"719":0,"720":1,"721":0,"722":0,"723":0,"724":1,"725":0,"726":1,"727":1,"728":0,"729":0,"730":1,"731":0,"732":0,"733":0,"734":0,"735":0,"736":0,"737":1,"738":0,"739":0,"740":1,"741":0,"742":1,"743":0,"744":1,"745":0,"746":0,"747":1,"748":0,"749":0,"750":1,"751":1,"752":0,"753":0,"754":1,"755":1,"756":0,"757":0,"758":0,"759":1,"760":0,"761":0,"762":1,"763":1,"764":0,"765":1,"766":0,"767":0,"768":0,"769":0,"770":0,"771":0,"772":0,"773":0,"774":1,"775":0,"776":0,"777":1,"778":0,"779":1,"780":1,"781":1,"782":0,"783":0,"784":0,"785":0,"786":1,"787":0,"788":1,"789":0,"790":0,"791":0,"792":0,"793":0,"794":0,"795":0,"796":1,"797":1,"798":0,"799":0,"800":0,"801":1,"802":1,"803":1,"804":1,"805":0,"806":0,"807":0,"808":0,"809":1,"810":0,"811":0,"812":0,"813":0,"814":0,"815":0,"816":0,"817":0,"818":0,"819":0,"820":1,"821":1,"822":0,"823":1,"824":0,"825":0,"826":0,"827":1,"828":1,"829":1,"830":1,"831":1,"832":0,"833":0,"834":0,"835":1,"836":0,"837":0,"838":1,"839":1,"840":0,"841":0,"842":1,"843":0,"844":0,"845":0,"846":0,"847":0,"848":0,"849":1,"850":0,"851":0,"852":0,"853":1,"854":0,"855":1,"856":1,"857":1,"858":1,"859":0,"860":0,"861":0,"862":1,"863":0,"864":0,"865":1,"866":1,"867":0,"868":0,"869":1,"870":0,"871":1,"872":0,"873":0,"874":1,"875":1,"876":0,"877":0,"878":0,"879":1,"880":1,"881":0,"882":0,"883":0,"884":0,"885":0,"886":0,"887":1,"888":0,"889":1,"890":0},"Pclass":{"0":3,"1":1,"2":3,"3":1,"4":3,"5":3,"6":1,"7":3,"8":3,"9":2,"10":3,"11":1,"12":3,"13":3,"14":3,"15":2,"16":3,"17":2,"18":3,"19":3,"20":2,"21":2,"22":3,"23":1,"24":3,"25":3,"26":3,"27":1,"28":3,"29":3,"30":1,"31":1,"32":3,"33":2,"34":1,"35":1,"36":3,"37":3,"38":3,"39":3,"40":3,"41":2,"42":3,"43":2,"44":3,"45":3,"46":3,"47":3,"48":3,"49":3,"50":3,"51":3,"52":1,"53":2,"54":1,"55":1,"56":2,"57":3,"58":2,"59":3,"60":3,"61":1,"62":1,"63":3,"64":1,"65":3,"66":2,"67":3,"68":3,"69":3,"70":2,"71":3,"72":2,"73":3,"74":3,"75":3,"76":3,"77":3,"78":2,"79":3,"80":3,"81":3,"82":3,"83":1,"84":2,"85":3,"86":3,"87":3,"88":1,"89":3,"90":3,"91":3,"92":1,"93":3,"94":3,"95":3,"96":1,"97":1,"98":2,"99":2,"100":3,"101":3,"102":1,"103":3,"104":3,"105":3,"106":3,"107":3,"108":3,"109":3,"110":1,"111":3,"112":3,"113":3,"114":3,"115":3,"116":3,"117":2,"118":1,"119":3,"120":2,"121":3,"122":2,"123":2,"124":1,"125":3,"126":3,"127":3,"128":3,"129":3,"130":3,"131":3,"132":3,"133":2,"134":2,"135":2,"136":1,"137":1,"138":3,"139":1,"140":3,"141":3,"142":3,"143":3,"144":2,"145":2,"146":3,"147":3,"148":2,"149":2,"150":2,"151":1,"152":3,"153":3,"154":3,"155":1,"156":3,"157":3,"158":3,"159":3,"160":3,"161":2,"162":3,"163":3,"164":3,"165":3,"166":1,"167":3,"168":1,"169":3,"170":1,"171":3,"172":3,"173":3,"174":1,"175":3,"176":3,"177":1,"178":2,"179":3,"180":3,"181":2,"182":3,"183":2,"184":3,"185":1,"186":3,"187":1,"188":3,"189":3,"190":2,"191":2,"192":3,"193":2,"194":1,"195":1,"196":3,"197":3,"198":3,"199":2,"200":3,"201":3,"202":3,"203":3,"204":3,"205":3,"206":3,"207":3,"208":3,"209":1,"210":3,"211":2,"212":3,"213":2,"214":3,"215":1,"216":3,"217":2,"218":1,"219":2,"220":3,"221":2,"222":3,"223":3,"224":1,"225":3,"226":2,"227":3,"228":2,"229":3,"230":1,"231":3,"232":2,"233":3,"234":2,"235":3,"236":2,"237":2,"238":2,"239":2,"240":3,"241":3,"242":2,"243":3,"244":3,"245":1,"246":3,"247":2,"248":1,"249":2,"250":3,"251":3,"252":1,"253":3,"254":3,"255":3,"256":1,"257":1,"258":1,"259":2,"260":3,"261":3,"262":1,"263":1,"264":3,"265":2,"266":3,"267":3,"268":1,"269":1,"270":1,"271":3,"272":2,"273":1,"274":3,"275":1,"276":3,"277":2,"278":3,"279":3,"280":3,"281":3,"282":3,"283":3,"284":1,"285":3,"286":3,"287":3,"288":2,"289":3,"290":1,"291":1,"292":2,"293":3,"294":3,"295":1,"296":3,"297":1,"298":1,"299":1,"300":3,"301":3,"302":3,"303":2,"304":3,"305":1,"306":1,"307":1,"308":2,"309":1,"310":1,"311":1,"312":2,"313":3,"314":2,"315":3,"316":2,"317":2,"318":1,"319":1,"320":3,"321":3,"322":2,"323":2,"324":3,"325":1,"326":3,"327":2,"328":3,"329":1,"330":3,"331":1,"332":1,"333":3,"334":1,"335":3,"336":1,"337":1,"338":3,"339":1,"340":2,"341":1,"342":2,"343":2,"344":2,"345":2,"346":2,"347":3,"348":3,"349":3,"350":3,"351":1,"352":3,"353":3,"354":3,"355":3,"356":1,"357":2,"358":3,"359":3,"360":3,"361":2,"362":3,"363":3,"364":3,"365":3,"366":1,"367":3,"368":3,"369":1,"370":1,"371":3,"372":3,"373":1,"374":3,"375":1,"376":3,"377":1,"378":3,"379":3,"380":1,"381":3,"382":3,"383":1,"384":3,"385":2,"386":3,"387":2,"388":3,"389":2,"390":1,"391":3,"392":3,"393":1,"394":3,"395":3,"396":3,"397":2,"398":2,"399":2,"400":3,"401":3,"402":3,"403":3,"404":3,"405":2,"406":3,"407":2,"408":3,"409":3,"410":3,"411":3,"412":1,"413":2,"414":3,"415":3,"416":2,"417":2,"418":2,"419":3,"420":3,"421":3,"422":3,"423":3,"424":3,"425":3,"426":2,"427":2,"428":3,"429":3,"430":1,"431":3,"432":2,"433":3,"434":1,"435":1,"436":3,"437":2,"438":1,"439":2,"440":2,"441":3,"442":3,"443":2,"444":3,"445":1,"446":2,"447":1,"448":3,"449":1,"450":2,"451":3,"452":1,"453":1,"454":3,"455":3,"456":1,"457":1,"458":2,"459":3,"460":1,"461":3,"462":1,"463":2,"464":3,"465":3,"466":2,"467":1,"468":3,"469":3,"470":3,"471":3,"472":2,"473":2,"474":3,"475":1,"476":2,"477":3,"478":3,"479":3,"480":3,"481":2,"482":3,"483":3,"484":1,"485":3,"486":1,"487":1,"488":3,"489":3,"490":3,"491":3,"492":1,"493":1,"494":3,"495":3,"496":1,"497":3,"498":1,"499":3,"500":3,"501":3,"502":3,"503":3,"504":1,"505":1,"506":2,"507":1,"508":3,"509":3,"510":3,"511":3,"512":1,"513":1,"514":3,"515":1,"516":2,"517":3,"518":2,"519":3,"520":1,"521":3,"522":3,"523":1,"524":3,"525":3,"526":2,"527":1,"528":3,"529":2,"530":2,"531":3,"532":3,"533":3,"534":3,"535":2,"536":1,"537":1,"538":3,"539":1,"540":1,"541":3,"542":3,"543":2,"544":1

In [60]:
df2.to_csv("onlinecsv_data.csv",index=False)

In [ ]:
df2.to_html("onlinecsv_data.csv",index=False)